.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-bg {
  background-image: linear-gradient(to top left, #2b3d60, #1b273e);
  color: white;
}

.project-card {
  background-image: linear-gradient(to top right, #2b3d60, #1b273e);
  cursor: pointer;
}

.project-card:hover {
  background-image: linear-gradient(to bottom left, #2b3d60, #1b273e);
  box-shadow: 0 0 4px;
}

.footer {
  background-image: linear-gradient(to top left, #2b3d60, #1b273e);
}

.project-description {
  text-align: justify;
}

.message-input {
  width: 100%;
  min-height: 150px;
  max-height: 300px;
  max-width: 500px;
}

#email {
  width: 100%;
  max-width: 500px;
}

.form {
  min-width: 500px;
  width: 25%;
}

button {
  width: 200px;
}

.contact {
  min-width: 500px;
  width: 25%;
}

.icon {
  fill: white;
}

@media only screen and (max-width: 768px) {
  .navbar-dropdown {
    /* border: 1px black solid; */
    overflow: hidden;
  }

  .nav-item {
  }
}
