@font-face {
  font-family: "gothamMedium";
  src: local("./fonts/GothamLight.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "gothamMedium";
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1b273e;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
