@font-face {
  font-family: "spotify";
  src: local(spotify),
    url("./fonts/Spotify-Font/GothamLight.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "spotify";
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1b273e;
  color: white;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
